.o_bf_bi_editor {
    height: 100%;

    .o_bf_bi_editor_sheet {
        min-height: 0;

        .o_spreadsheet_container {
            height: 100%;
        }
    }

    .o_bf_bi_name {
        max-width: 28rem;
    }
}
